# Python
.venv/
__pycache__/
*.pyc

# PlatformIO
.pio/
.pioenvs/
.piolibdeps/
include/ConfigLocal.h

# IDE/editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Designer web app
designer/backend/layouts.db
designer/frontend-a/node_modules/
designer/frontend-a/dist/
designer/frontend-b/node_modules/
designer/frontend-b/dist/
